<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <a href="https://github.com/{{ .Site.Params.github }}" rel="me">GitHub</a>
    <a href="https://twitter.com/{{ .Site.Params.twitter }}" rel="me">Twitter</a>
    <a href="https://linkedin.com/in/{{ .Site.Params.linkedin }}" rel="me">LinkedIn</a>
    <a href="mailto:{{ .Site.Params.email }}">Email</a>
    <a href="{{ .Site.Params.scholar }}">Google Scholar</a>
  </div>
  <div class="footer-love">with ♥ from Waterloo, Canada</div>
</footer>
