<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Shivasurya Sankarapandian",
  "alternateName": "Shivasurya",
  "url": "{{ .Site.BaseURL }}",
  "jobTitle": "Senior Software Engineer",
  "worksFor": {
    "@type": "Organization",
    "name": "Carta"
  },
  "sameAs": [
    "https://github.com/{{ .Site.Params.github }}",
    "https://twitter.com/{{ .Site.Params.twitter }}",
    "https://linkedin.com/in/{{ .Site.Params.linkedin }}",
    "{{ .Site.Params.scholar }}"
  ],
  "knowsAbout": ["Software Security", "Static Code Analysis", "Application Security", "Software Engineering"]
}
</script>
